body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d8b8ff;
    color: #333;
    line-height: 1.6;
}
.nav-bar {
    background-color:white;
    box-shadow:0,0,0,0.1
}

header {
    background-color: #6a0dad; 
    color: white;
    text-align: center;
    padding: 30px 20px;
}

header h1 {
    margin: 0;
    font-size: 32px;
    color: white;
}

header p {
    margin: 10px 0 0;
    font-size: 16px;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}


section {
    background-color: #f7e7ff;     
    padding: 4rem 2rem;
    margin-bottom: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
 img {

    width: 50%;
    border-radius: 10%;
    display: block;
    margin: 5% 0;

}
section h2 {
    color: #6a0dad;
    margin-top: 0;

ol {
    padding-left: 20px;
}

ol li {
    font-weight: bold;
    font-size: 18px;
    color: #6a0dad;
}

h3 {
    margin-top: 10px;
    color: #580b9e;
}


footer {
    text-align: center;
    background-color: #6a0dad;
    color: white;
    padding: 20px;
    margin-top: 40px;
}













